{% extends "base.html" %}
{% load static %}
{% block content %}


<h1>this is a form</h1>
<div class="container">
  <form id='vacation-home-form'> 
      {% csrf_token %}
      {% comment %} <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> {% endcomment %}
  
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Home title</label>
      <input  name='title' type="text" class="form-control" id="title" aria-describedby="emailHelp">
      {% comment %} <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> {% endcomment %}
    </div>

    {% comment %} <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div> {% endcomment %}
    {% comment %} <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> {% endcomment %}
    <button type="submit" class="btn btn-primary" id="vacation-home-button">Submit</button>
  </form>
</div>

<script src="{% static "vacation_home_create.js" %}" defer></script>
{% endblock %}



